
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Jupyter Notebook
.ipynb_checkpoints
notebooks/.ipynb_checkpoints

# Ignore everything in data folder except specific subdirectories
data/train/*
data/val/*
!data/train/.gitkeep
!data/val/.gitkeep

docs/

# Logs
logs/

# VS Code
.vscode/

# Cache files
.cache/

config/data/config.yaml